.Discord_Icon{
  margin-right: 24px;
  font-size: 42px;
  color: white;
}

.Insta_Icon{
  margin-right: 24px;
  font-size: 40px;
  color: white;
}

.YouTube_Icon{
  margin-right: 24px;
  font-size: 42px;
  color: white;
}