.LanguageIcons{
  margin-right: 24px;
  font-size: 35px;
  color: white;
}

.GameIcons{
  margin-right: 24px;
  font-size: 42px;
  color: white;
}

.myStyBtn{
  background-color: white !important;
  height: 30px;
  width: 70px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

